---
import Linkedin from "@/components/iconos/Linkedin.astro";
import Layout from "../layouts/Layout.astro";
import Redes from "@/components/Redes.astro";
import Github from "@/components/iconos/Github.astro";
import Mail from "@/components/iconos/Mail.astro";
import Experiencia from "@/components/Experiencia.astro";
import Proyectos from "@/components/Proyectos.astro";
import ContenedorSection from "../components/ContenedorSection.astro"
---

<Layout
  title="Portfolio Dobler Brian - Desarrollador Frontend Jr."
  description="Apasionado por el diseño y la programación para que la experiencia del usuario sea lo mas agradable posible."
>
  <main class="px-20"> 
    <ContenedorSection class="py-36 ">
      <h1 class="lg:text-5xl md:text-4xl text-2xl font-bold 
      dark:text-violet-400/90 text-violet-700/90 shadow-violet-500 flex gap-x-2 pb-6 lg:pb-10"
      style="text-shadow: 2px 2px 40px rgba(139, 92, 246, 0.9);">Frontend Developer</h1>
      <h2 class="lg:text-2xl pb-4 text-pretty text-md max-w-[700] dark:text-white text-gray-600">
        Hola me llamo Brian Dobler, soy estudiante avanzado de la carrera Ingeniería en
        Sistemas de Información.
        Actualmente estoy a la busca de seguir creciendo y perfeccionandome en el mundo del desarrollo web.
      </h2>
      <nav class="flex gap-2 py-2 justify-end px-2 flex-wrap">
        <Redes href="https://www.linkedin.com/in/brian-dobler17">
          <Linkedin />
          LinkedIn →
        </Redes>
        <Redes href="https://github.com/BrianDobler">
          <Github />
          Github →
        </Redes>
        <Redes
          href="https://mail.google.com/mail/?view=cm&fs=1&to=brianahueldobler@gmail.com"
        >
          <Mail />
          brianahueldobler@gmail.com →
        </Redes>
      </nav>
    </ContenedorSection>
    <ContenedorSection id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 dark:text-white text-gray-600 pt-5">
        💻 Experiencia Laboral
      </h2>
      <Experiencia />
    </ContenedorSection>
    <ContenedorSection id="proyectos">
      <h2 class="text-2xl font-semibold dark:text-white text-gray-600  mb-6 pt-10">
        ⚡Proyectos
      </h2>
      <Proyectos />
    </ContenedorSection>
    <ContenedorSection id="educacion">
      <h2 class="text-2xl font-semibold mb-6 dark:text-white text-gray-600  pt-10">
      🏢 Educación
      </h2>
      <Proyectos />
    </ContenedorSection>
  </main>
</Layout>
