---
import type { ActionError } from "astro:actions";
import ExperienciaItem from "./ExperienciaItem.astro";

const EXPERIENCIA = [
  {
    fecha: "Marzo 2022 - Actualidad",
    titulo: "DBA Oracle - Ministerio de Finanzas Provincia de Córdoba",
    descripcion:
      "\nModificaciones de datos, debug de Procedimientos Almacenados,\nTriggers, Funciones, Vistas, como así también la creación de los mismos.\nBackups de objetos, extracción de reportes mensuales para los diferentes\norganismos, ya sean Ministerio u Agencias de la provincia."
    },
];
---

<ol class="relative border-s border-yellow-200 dark:border-gray-700">
  {
    EXPERIENCIA.map((experiencia) => (
      <li class="mb-10 ms-4">
        <ExperienciaItem {...experiencia} />
      </li>
    ))
  }
</ol>
