<footer class="bg-gray-400/90 shadow-lg rounded-lg m-4 dark:bg-zinc-700">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-800 sm:text-center dark:text-gray-400"
      >© 2024 <a class="hover:text-white transition duration-300"
        >Portfolio Dobler Brian</a
      >. All Rights Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-800 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:text-white transition duration-300 me-4 md:me-6">Inicio</a>
      </li>
      <li>
        <a href="#proyectos" class="hover:text-white transition duration-300 me-4 md:me-6">Proyectos</a>
      </li>
      <li>
        <a href="#educacion" class="hover:text-white transition duration-300  me-4 md:me-6">Educación</a>
      </li>
      <li>
        <a href="#contacto" class="hover:text-white transition duration-300 ">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
