<footer class="bg-zinc-700 shadow-lg z-10 rounded-lg m-4 ">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-400 sm:text-center "
      >© 2024 <a class="hover:text-white transition duration-300"
        >Portfolio Dobler Brian</a
      >.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:bg-violet-800 rounded-sm hover:scale-105 px-4 hover:text-white transitiontransition duration-300 me-4 md:me-6">Inicio</a>
      </li>
      <li>
        <a href="#experiencia" class="hover:bg-violet-800 rounded-sm hover:scale-105 px-4 hover:text-white  transition duration-300 me-4 md:me-6">Experiencia</a>
      </li>
      <li>
        <a href="#proyectos" class="hover:bg-violet-800 rounded-sm hover:scale-105 px-4 hover:text-white  transition duration-300 me-4 md:me-6">Proyectos</a>
      </li>
      <li>
        <a href="#educacion" class="hover:bg-violet-800 rounded-sm hover:scale-105 px-4 hover:text-white  transition duration-300 me-4 md:me-6">Educación</a>
      </li>
      
    </ul>
  </div>
</footer>
