---
import BotonRedireccion from "@/components/BotonRedireccion.astro";
---
<footer class="">
  <div
    class="w-full mx-auto max-w-screen-lg flex flex-col items-center justify-center p-4 sm:flex sm:items-center sm:flex-wrap sm:content-center"
  >
    <span class="text-sm justify-center mb-2 text-gray-800 dark:text-gray-400 sm:text-center">
      <a class="dark:hover:text-white transition duration-300">
  Portfolio Dobler Brian 2024 | Córdoba, Argentina</a
      ></span>
      <BotonRedireccion href="https://api.whatsapp.com/send?phone=543515160732"
      classBtnProyecto="relative w-40" >
        📱 351 5160 732 
      </BotonRedireccion>
    
    </div>
</footer>
