---
import Badge from "./Badge.astro";
import BotonDarkMode from "./DarkMode.jsx";
---

<header
  class="flex justify-between items-center font-semibold py-4
      w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-6 opacity-90 dark:text-white/80 text-gray-700 ">
    <a
      class="hover:bg-violet-800 rounded-sm hover:scale-105 px-4 hover:text-white duration-100 transition"
      href="/">Inicio</a
    >
    <a
      class="hover:bg-violet-800 rounded-sm hover:scale-105 px-4 hover:text-white duration-100 transition"
      href="#experiencia">Experiencia</a
    >
    <a
      class="hover:bg-violet-800 rounded-sm hover:scale-105 px-4 hover:text-white duration-100 transition"
      href="#proyectos">Proyectos</a
    >
    <a
      class="hover:bg-violet-800 rounded-sm hover:scale-105 px-4 hover:text-white duration-100 transition"
      href="#educacion">Educación</a
    >
    
  </nav>
  <div class="flex justify-center items-center px-4 gap-4">
    <BotonDarkMode client:only/>
      <a
        href="https://www.linkedin.com/in/brian-dobler17"
        target="_blank"
        rel="noopener"
      >
        <Badge />
      </a>
      <img
        class="rounded-full size-12"
        src="/imagenes/fotoperf.png"
        alt="foto-portfolio"
      />
  </div>
</header>
