---
import Badge from "./Badge.astro";
import BotonDarkMode from "./DarkMode.jsx";


const blur = `
  window.addEventListener('scroll', function() {
    const blurValue = window.scrollY > 50 ? 'blur(10px)' : 'blur(0)';
    const header = document.querySelector('header');
    if (header) {
      header.style.backdropFilter = blurValue;
      header.style.WebkitBackdropFilter = blurValue;
    }
  });
`;
---

<head>
  <script>
    {blur}
  </script>
</head>

<header
  class="top-0 left-0 w-full py-2 font-medium"
>
  <div class="container mx-auto flex xl:w-[1120px] justify-between items-center">
    <nav class="flex flex-row gap-x-4 opacity-90 dark:text-white/80 text-gray-700">
      <a
        class="hover:bg-violet-800 rounded-sm hover:scale-105 hover:font-semibold px-4 hover:text-white duration-200 transition"
        href="#inicio"
      >Inicio</a>
      <a
        class="hover:bg-violet-800 rounded-sm hover:scale-105 px-4 hover:font-semibold hover:text-white duration-200 transition"
        href="#experiencia"
      >Experiencia</a>
      <a
        class="hover:bg-violet-800 rounded-sm hover:scale-105 px-4 hover:font-semibold  hover:text-white duration-200 transition"
        href="#proyectos"
      >Proyectos</a>
      <a
        class="hover:bg-violet-800 rounded-sm hover:scale-105 px-4 hover:font-semibold  hover:text-white duration-200 transition"
        href="#educacion"
      >Educación</a>
    </nav>
    <div class="flex justify-center items-center px-4 gap-4">
      <BotonDarkMode client:only />
      <a
        href="https://www.linkedin.com/in/brian-dobler17"
        target="_blank"
        rel="noopener"
      >
        <Badge />
      </a>
      <img
        class="rounded-full size-12"
        src="/imagenes/fotoperf.png"
        alt="foto-portfolio"
      />
    </div>
  </div>
</header>