<a
  class={`bg-yellow-600 text-yellow-200 font-medium me-2 px-2.5  rounded
   dark:bg-yellow-900 dark:text-yellow-300 flex justify-center items-center w-34 py-1 gap-4 
   hover:bg-yellow-500 opacity-80 transition duration-300 text-sm hover:scale-105`}
  {...Astro.props}
  target="_blank"
  rel="noopener"
>
  <slot />
</a>
