<a
  class={`bg-violet-800 text-violet-200 font-medium me-2 lg:px-2.5  rounded
   dark:bg-violet-800 dark:text-violet-200 flex justify-center items-center w-34 lg:py-1 py-0.5 gap-4 
   hover:bg-yellow-600 opacity-90 transition duration-300 text-xs lg:text-md hover:scale-105` }
  {...Astro.props}
  target="_blank"
  rel="noopener"
>
  <slot />
</a>
