---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import DotPattern from "../components/magicui/dot-pattern.tsx";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <DotPattern />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  body.dark {
    background-color: #13151a;
  }
  
  html {
    font-family: "Satoshi", system-ui, sans-serif;
    background: #ffffff;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px); 
  WebkitBackdropFilter: blur(10px); 
  background-color: rgba(255, 255, 255, 0); 
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  z-index: 1000; 
  transition: backdrop-filter 0.3s ease; 
}
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  @font-face {
    font-family: "Satoshi";
    src: url("/fuente/Satoshi-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("/fuente/Satoshi-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("/fuente/Satoshi-Medium.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("/fuente/Satoshi-Light.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
</style>
