---
import Header from "../components/Header.astro";
import DotPattern from "../components/magicui/dot-pattern.tsx"


interface Props {
  title: string;
  description: string;
}

const { title,description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <DotPattern/>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Satoshi",system-ui, sans-serif;
    background: #13151a;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  @font-face {
        font-family: "Satoshi";
        src: url("/fuente/Satoshi-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Satoshi";
        src: url("/fuente/Satoshi-Black.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Satoshi";
        src: url("/fuente/Satoshi-Medium.woff2") format("woff2");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Satoshi";
        src: url("/fuente/Satoshi-Light.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
</style>
